@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.hero {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(Background\ Home\ Page.png);
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
}
.nav-item {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item ul {
  list-style: none;
}
.nav-item ul li {
  display: inline;
  margin: 15px;
}
.nav-item ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.area-logo {
  color: #fff;
  width: 20%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  width: 32%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-items ul {
  list-style: none;
}
.nav-items ul li {
  display: inline;
  margin: 15px;
}
.nav-items ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
/*.nav-visit{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px  solid #000000;
}*/
.nav-visit ul {
  list-style: none;
}
.nav-visit ul li {
  margin-left: 30px;
}
.nav-visit ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 650;
}
.area-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  color: #fff;
}
.sub-header {
  font-size: 18px;
  font-family: "Lora";
}
.header {
  font-size: 28px;
  font-family: "Montserrat";
  text-align: center;
}
/*.header h1{
    justify-content: center;
    display: flex;
    align-items: center;
}*/
.btn-more {
  width: 100px;
  height: 15px;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  border: #fff 2px solid;
  border-radius: 45px;
  color: #3f3d30;
  background-color: #fff;
  font-family: Helvetica;
  padding: 9px;
}
.about-muuseum {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #eeede0;
}
.container {
  display: flex;
}
.teks-bout {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: -30px;
}

.teks-bout h1 {
  color: #000;
  font-size: 35px;
  font-weight: 750;
  font-family: "Montserrat";
}
.sub-info {
  color: #91918c;
  font-family: "Lora";
  font-weight: 400;
  font-size: 15px;
}
.more-btn {
  color: #000;
  font-family: Helvetica;
  font-weight: 750;
  font-size: 10px;
  font-size: 12px;
}

.card-img {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  width: 90%;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}
.card-img img:hover {
  background-size: cover;
  transition: all 1.1s;
  transform: scale(1.1);
}

@keyframes img {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navbar {
    margin: 0;
  }

  .about-muuseum {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-img {
    margin-top: 15px;
  }
  .teks-bout h1 {
    font-size: 20px;
  }
  .teks-bout p {
    font-size: 10px;
  }
}

/*Main Wrapper*/
/*Colection*/
.cuontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.teks {
  width: 98%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
.collec {
  margin: 25px;
  font-family: "Montserrat";
  font-size: 25px;
}
.view {
  margin-right: 30px;
  font-family: "Montserrat";
  font-weight: 700;
}
.currently {
  margin: 20px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 550;
  flex-direction: column-reverse;
  display: flex;
  color: #91918c;
}

.kontainer {
  height: 100vw;
  width: 85vh;
}

/*.tittle-cafe{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  margin-left: 25px;
}*/

.Café-terrace-at-night {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.Café-terrace-at-night img {
  width: 100%;
  margin-bottom: 10px;
}
.cafe {
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.Vincent {
  color: #91918c;
  font-family: "Montserrat";
}
.Country-road-in-Provence-by-night {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.Country-road-in-Provence-by-night img {
  width: 100%;
  margin-bottom: 10px;
}
.country {
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.van {
  color: #91918c;
  font-family: "Montserrat";
}
.the-Death-of-general-wolfe {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.the-Death-of-general-wolfe img {
  width: 100%;
  margin-bottom: 10px;
}
.death-teks {
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.p-death {
  color: #91918c;
  font-family: "Montserrat";
}
.Prince-Adolphus-later-Duke-of-Cambridge-with-Princess-Mary-and-Princess-Sophia {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.Prince-Adolphus-later-Duke-of-Cambridge-with-Princess-Mary-and-Princess-Sophia img {
  width: 100%;
  margin-bottom: 10px;

}
.prince-teks {
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.par-prince {
  color: #91918c;
  font-family: "Montserrat";
}
.Autum-Trees-caa{
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.Autum-Trees-caa img{
  width: 100%;
  margin-bottom: 10px;
}
.autum-teks{
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.autum-par{
  color: #91918c;
  font-family: "Montserrat";
}
.Goin-to-work{
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: start;
  margin: 20px;
  flex-direction: column;
}
.Goin-to-work img{
  width: 100%;
  margin-bottom: 10px;
}
.teks-work{
  font-size: 15px;
  font-family: "Montserrat";
  color: #1e201e;
  font-weight: 750;
}
.par-work{
  color: #91918c;
  font-family: "Montserrat";
}