*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
}

.navbar{
    width: 100%;
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-logo{
    width: 50%;
    height: 100%;
}
.area-logo img{
    height: 100px;
    
}
.nav-item{
    width: 50%;
    height: 100%;
    
}


.nav-item ul li a{
    font-size: 1em;
    color: #1E201E;
    padding: 6px 20px;
    transition: .5s;
    font-weight: 500;
    text-decoration: none;
}
.nav-item a:hover{
    color: aqua;

}
.nav ul li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3FA158;
    z-index: -1;
    border-radius: 15px;
    border-bottom: 2px solid #3FA158;
    transform: scale(1) translateY(50px);
}
.nav a:hover ul li a{
    transform: scale(1) translateY(0);
    opacity: 1;
}

.nav-item ul li :hover{
    color: #597445;
}

.navbar a::after{
position: absolute;
content: "";
height: 2px;
width: 0;
bottom: -10px;
left: 50%;
background-color: #3FA158;
transition: width 0.8 ease;
transition: 0.5s;
transform: translate(-50%);
}
.navbar a:hover{
color: #3FA158;
font-size: 1.3rem;
transition: all 0.8 ease;
}

.navbar a:hover::after{
    width: 100%;
}

